# ^ client

# dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# compiled output
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# Logs
logs
*.log

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# testing
/coverage

# Tests
/coverage
/.nyc_output

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE - VSCode
.vscode/*

# ^ СВОЁ
# п.врем./не нужных ф./доп.код
vr/
.env

# помошники
GitHub Команды.txt
info.txt
webpack*

# ^ общ.врем.ОТКЛ.
**/static/**
**/src/lang/**
**/src/configs/**
**/src/profile/**
**/src/store/**
**/src/signIn/**
**/src/components/GoogleButton.tsx
**/src/components/SignInForm.tsx
**/src/components/Providers.tsx

# ^ общ.врем.ИСКЛЮЧЁННЫЕ
# папки 
!/**/src/configs/auth/
!/**/src/configs/lang/
!/**/src/configs/lang/locales/
# все.ф.в п. 
# !/**/src/common/decorators/**
# ф.
!/**/src/configs/auth/auth.ts
!/**/src/configs/lang/langConfig.ts
!/**/src/configs/lang/locales/ru.ts
!/**/src/configs/lang/locales/en.ts