@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3 {
  text-align: center;
}

ul {
  list-style-type: disc;
  margin-left: 1.25rem;
}

hr {
  --hue: 220;
  border-color: hsl(var(--hue), 50%, 40%);
}

/* шапка */
header {
  .header-nav {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      padding: 5px 10px;
      border: 1px solid #222222;
      transition: 0.3s ease;
      transform-style: preserve-3d;
      &:not(:last-child) {
        margin-right: 5px;
      }
      &:hover {
        transition: 0.3s ease;
        transform: perspective(100px) rotateX(-5deg);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        span {
          color: #f3a505;
        }
      }
      &:active {
        transform: perspective(100px) rotateX(5deg);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
      }
    }
  }
}

/* main. вр.stl отступ от Navbar.AppBar */
.main-my {
  --hue: 235;
  color: hsl(var(--hue), 50%, 20%);
  background-color: hsl(var(--hue), 50%, 90%);
}

/* подвал */
footer {
  z-index: 1201;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2c2c2c;
  padding: 10px;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;

  div:nth-child(1) /* | :first-child | :first-of-type */ {
    width: max-content;
    margin: 0 auto;
  }
  ul.nav-bar__top {
    display: flex;
    justify-content: space-around;
    li {
      margin: 0px 10px;
    }
  }
  div.nav-bar__bootom {
    display: flex;
    justify-content: space-between;
  }
}

/* ^^ stl > вкл.совместной раб. NavBar,Main,Footer */
.general-container {
  display: flex;
  flex-direction: column;
  /* е/и в header data-open=true то в main-my... ч/з header не раб */
  /* &:has(> header:has(button[data-open='true'])) > .main-my { */
  &:has(button[data-open='true']) > .main-my {
    /* width: calc(100% - 175px); */
    margin-left: 175px;
    transition: 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
  /* заголовок */
  header {
    button {
      margin-right: 20px;
      @media (min-width: 600px) {
        margin-right: 40px;
      }
    }
  }
  /* осн.бл. */
  .main-my {
    /* width: calc(100% - 56px); */
    margin-top: 56px;
    margin-left: 57px;
    padding: 16px;
    transition: 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    @media (min-width: 600px) {
      margin-top: 64px;
      margin-left: 65px;
      padding: 24px;
    }
  }
  footer {
    /* position: static; */
    position: fixed;
  }
}

/* ^^ stl > уч.Комп.MUI */
.switch,
.select {
  .text-center {
    cursor: pointer;
  }
  /* откл.бл. */
  > div,
  br,
  hr,
  a {
    display: none;
  }
  /* stl cl.open */
  .open {
    display: flex;
  }
  /* вкл.бл. */
  &:has(div[class*='open']) {
    & > .flex,
    & > div .flex {
      display: flex;
    }
    & > a,
    & br,
    & > br,
    & > hr {
      display: block;
    }
  }
}

/* заглушка загрузки */
@keyframes loading {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
.loading {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.loading span {
  display: inline-block;
  padding-right: 100%;
  animation: loading 5s infinite linear;
}
