# ^ server

# dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# compiled output
dist/
# dtos/
# production
/build

# misc
.DS_Store
*.pem

# Logs
logs
*.log

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# testing
/coverage

# Tests
/coverage
/.nyc_output

# local env files
.env*.local

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ^ СВОЁ
# п.врем./не нужных ф./доп.код
vr/
.env

# js
# src/scripts/*

# scss
# src/styles/all.scss

# помошники
GitHub Команды.txt
info.txt
webpack*

# ^ общ.врем.ОТКЛ.
**/static/**
**/helpers/**
**/env.validation.ts
**/env.development.ts
**/src/helpers/**
# **/auth/*
**/auth_/*
**/admins/*
**/validators/*
**/src/config/**
**/src/common/**
**/src/services/**
**/src/common/helpers/**
**/src/modules/model/**
**/src/shared/**
**/src/base/database/config/**
**/public/swagger/theme_max.css

# ^ общ.врем.ИСКЛЮЧЁННЫЕ
# папки 
!/**/src/common/decorators/
!/**/src/config/
!/**/src/config/database/
!/**/src/config/documents/
!/**/src/config/envs/
!/**/src/config/logging/
!/**/src/common/filters/
!/**/src/common/mappings/
!/**/src/common/pipes/
!/**/src/common/types/
!/**/src/services/storage/
!/**/src/common/utils/
# все.ф.в п. 
# !/**/src/common/decorators/**
# ф.
!/**/src/config/
!/**/src/config/database/db_localhost.config.ts
!/**/src/config/database/db_supabase.config.ts
!/**/src/config/documents/swagger.config.ts
!/**/src/common/decorators/user-id.decorator.ts
!/**/src/config/envs/env.consts.ts
!/**/src/config/logging/winston-logger.config.ts
!/**/src/config/logging/log_winston.config.ts
!/**/src/common/filters/all-exception.filter.ts
!/**/src/common/filters/error.utils.ts
!/**/src/common/mappings/mappingMimeType.ts
!/**/src/common/storage/storage.ts
!/**/src/common/pipes/fileTypeValidation.pipe.ts
!/**/src/common/types/typeFilePaths.ts
!/**/src/common/utils/basic.utils.ts
!/**/src/common/utils/database.utils.ts
!/**/src/services/storage/storage.ts
# !/**/src/config/envs/elephant.config.ts
# !/**/src/config/envs/configurationLocalhost.ts