# compiled output
dist/
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# СВОЁ пока не нужное 
# папка временных/пока не нужных файлов. для игнора и случайно залитых
vr/
.env
# dtos/
dist/

# js
# src/scripts/*

# scss
# src/styles/all.scss

# помошники
GitHub Команды.txt
info.txt
webpack*

# настройки
.vscode

# врем.откл.
# server
**/auth/*
**/admin/*
**/validators/*
**/src/config/**
**/src/shared/**
**/src/common/**
**/src/base/database/config/**

# исключения
# папки 
!/**/src/common/decorators/
!/**/src/config/envs/
# все.ф.в п. 
# !/**/src/common/decorators/**
# ф.
!/**/src/common/decorators/user-id.decorator.ts
!/**/src/config/envs/localhost.config.ts
!/**/src/config/envs/supabase.config.ts
!/**/src/config/envs/elephant.config.ts
!/**/src/config/envs/configurationLocalhost.ts