# compiled output
dist/
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# СВОЁ пока не нужное 
# папка временных/пока не нужных файлов. для игнора и случайно залитых
vr/
.env
# dtos/
dist/

# js
# src/scripts/*

# scss
# src/styles/all.scss

# помошники
GitHub Команды.txt
info.txt
webpack*

# настройки
.vscode

# врем.откл.
# **/schemaBD/
/src/config/**
/src/shared/**
src/common/**
# !/src/common/decorators/!user-id.decorator.ts
# **/src/common/decorators/!user-id.decorator.ts
src/common/!/123.txt
!/src/common/decorators/123.txt
!src/common/decorators/123.txt
!src/common/decorators/*.txt
**/!/*.txt
# $ echo '!/123.txt*' >/src/common/.gitignore
# !/src/common/decorators/
# !/src/common/decorators/*
# !/src/common/decorators/**
# 
folder/
# !folder/*.txt
!folder/asd.txt