// растояния/размеры  ----------------------------------------------------------------------------------
// длина/ширина
.w {
  &-a {
    width: auto !important;
  }
  &-100 {
    width: 100%;
  }
}

// позиция ----------------------------------------------------------------------------------
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}

// flex ----------------------------------------------------------------------------------
.df {
  display: flex !important;
  &-aic {
    align-items: center;
  }
  &-jcc {
    justify-content: center;
  }
  &-jcsa {
    justify-content: space-around;
  }
  &-jcsb {
    justify-content: space-between;
  }
  &-jcse {
    justify-content: space-evenly;
  }
  &-row {
    flex-direction: row !important;
  }
  &-col {
    flex-direction: column !important;
  }
  &-110 {
    flex: 1 1 0;
  }
  &-dc {
    flex-direction: column;
  }
  &-dr {
    flex-direction: row;
  }
}
.dfccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dfrcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
