// стили проекта (несмотря на подкл.послед.иногда перебиваются + !important) ----------------------------------------------------------------------------------

// переменные
:root {
  --Blue_8: #252850;
  --Blue_9: #003366;

  body {
    font-size: inherit !important;

    hr.hr {
      --hue: 220;
      border-color: hsl(var(--hue), 50%, 40%) !important;
    }

    pre {
      border: 2px solid #8b0000;
      width: auto;
      padding: 5px;
    }

    /* шапка, горизотн.меню */
    header.header/* .menu-top */ {
      z-index: 1201;
      position: fixed;
      top: 0;
      right: 0;
      left: auto;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      // width: 100%;
      color: #c2c2c2;
      background-color: #1976d2;
      background-color: #252850;
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
        margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
        margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);

      // общ.div
      .menu-top-wrapper {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 56px;
        @media (min-width: 600px) {
          min-height: 64px;
        }
        @media (min-width: 0px) {
          .css-hyum1k-MuiToolbar-root {
            min-height: 48px;
          }
        }
        @media (min-width: 600px) {
          padding-left: 24px;
          padding-right: 24px;
        }
      }

      // кнп.закр.бок.меню
      button {
        margin-right: 20px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0;
        border: 0;
        margin: 0;
        border-radius: 0;
        padding: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        -moz-appearance: none;
        -webkit-appearance: none;
        -webkit-text-decoration: none;
        text-decoration: none;
        color: inherit;
        text-align: center;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        font-size: 1.5rem;
        padding: 8px;
        border-radius: 50%;
        overflow: visible;
        color: rgba(0, 0, 0, 0.54);
        -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1)
          0ms;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        margin-left: -12px;
        color: inherit;
        margin-right: 40px;

        // .button {
        margin-right: 5px;
        transition: color 0.3s ease;
        // }

        &:hover,
        &:hover > div > svg {
          color: #f3a505;
          background-color: rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
        }
        @media (min-width: 600px) {
          margin-right: 40px;
        }
        svg {
          user-select: none;
          width: 1em;
          height: 1em;
          display: inline-block;
          fill: currentColor;
          -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          font-size: 1.5rem;
        }
      }

      /* название сайта */
      .name-site {
        width: 135px;
        padding: 0px 5px;
        text-align: center;
        font-weight: 500;
        white-space: nowrap;
        span:last-child {
          display: none;
          // display: block;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease;
          transition-delay: 1.5s;
        }
        span:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:hover,
        &:active {
          span:nth-child(1) {
            display: none;
            opacity: 0;
            visibility: hidden;
          }
          span:nth-child(2) {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      // меню стр.
      .header-nav {
        font: inherit;
        // margin: auto;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 5px;
          padding: 5px 10px;
          border: 1px solid #222222;
          transition: 0.3s ease;
          transform-style: preserve-3d;
          &:not(:last-child) {
            margin-right: 5px;
          }
          &:hover {
            transition: 0.3s ease;
            transform: perspective(100px) rotateX(-5deg);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            span {
              color: #f3a505;
            }
          }
          &.active {
            transform: perspective(100px) rotateX(5deg);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
            span {
              color: #f3a505;
            }
          }
        }
      }
    }
    /* бок.меню */
    div.menu-vertical {
      flex: 0 0 auto;
      width: calc(56px + 1px);
      flex-shrink: 0;
      white-space: nowrap;
      box-sizing: border-box;
      -webkit-transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      overflow-x: hidden;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        padding-top: 8px;
        padding-bottom: 8px;
        li {
          margin-right: 15px;
          &.active {
            transform: perspective(100px) rotateX(5deg);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
            div {
              color: #f3a505;
            }
          }
        }
      }
    }

    /* main. вр.stl отступ от Navbar.AppBar */
    .main-my {
      --hue: 235;
      color: hsl(var(--hue), 50%, 20%);
      background-color: hsl(var(--hue), 50%, 90%);
    }

    /* подвал */
    footer {
      z-index: 1201;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #2c2c2c;
      padding: 10px;
      bottom: 0;
      width: 100%;
      background-color: #333;
      color: #fff;
      padding: 10px;

      div:nth-child(1) /* | :first-child | :first-of-type */ {
        width: max-content;
        margin: 0 auto;
      }
      ul.nav-bar__top {
        display: flex;
        justify-content: space-around;
        li {
          margin: 0px 10px;
        }
      }
      div.nav-bar__bootom {
        display: flex;
        justify-content: space-between;
      }
    }

    /* ^^ stl > вкл.совместной раб. NavBar,Main,Footer */
    .general-container {
      display: flex;
      flex-direction: column;
      /* е/и в header data-open=true то в main-my... ч/з header не раб */
      /* &:has(> header:has(button[data-open='true'])) > .main-my { */
      &:has(button[data-open="true"]) > .main-my {
        /* width: calc(100% - 175px); */
        margin-left: 175px;
        transition: 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      }
      /* заголовок */
      header {
        button {
          margin-right: 20px;
          @media (min-width: 600px) {
            margin-right: 40px;
          }
        }
      }
      /* осн.бл. */
      .main-my {
        /* height: 100vh; */
        margin-bottom: 116px;
        /* width: calc(100% - 56px); */
        margin-top: 56px;
        margin-left: 57px;
        padding: 16px;
        transition: 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        @media (min-width: 600px) {
          margin-top: 64px;
          margin-left: 65px;
          padding: 24px;
        }
        /* 1ый эл.по центру (учёт height.footer + margin-top.main + 2_padding.main) */
        & > div.main-screen:first-child,
        & > div.main-screen:nth-child(2),
        & > div:nth-child(3).main-screen {
          height: calc(100vh - (116px + 56px + 32px)) !important;
          @media (min-width: 600px) {
            height: calc(100vh - (116px + 64px + 48px)) !important;
          }
        }
        /* 2ой эл.вниз (учёт ниж.padding.main) */
        & > div:nth-child(2) {
          margin-top: 24px;
        }
      }
      footer {
        /* position: static; */
        position: fixed;
      }
    }

    /* заглушка загрузки */
    @keyframes loading {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(100%, 0);
      }
    }
    .loading {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
    .loading span {
      display: inline-block;
      padding-right: 100%;
      animation: loading 5s infinite linear;
    }

    // стр.не найдена (Not Found)
    .notf__control {
      // обёртка ссылки/стрелки
      div {
        position: relative;
        display: flex;
        align-items: flex-end;
        // блок первой ссылки
        &:first-child {
          margin-right: 10px;
          // стрелка
          & > span {
            left: -10px;
            border-right-color: var(--CrimsonBrown);
            transition: all 0.3s ease;
          }
          // ссылка
          a {
            margin-left: 10px;
            border-bottom: 3px solid var(--CrimsonBrown);
            transition: all 0.3s ease;
          }
        }
        // блок последней ссылки
        &:last-child {
          margin-left: 10px;
          & > span {
            right: -10px;
            border-left-color: var(--Green_1);
            transition: all 0.3s ease;
          }
          a {
            margin-right: 10px;
            border-bottom: 3px solid var(--Green_1);
            transition: all 0.3s ease;
          }
        }
        // общ.стрелка
        & > span {
          position: absolute;
          border: 10px solid transparent;
        }
        // общ.ссылка
        a {
          padding: 5px 10px 0;
        }
        // наведение
        &:hover {
          &:first-child {
            & > span {
              border-right-color: var(/* --PinkForest */ --DarkRed);
            }
            a {
              border-bottom-color: var(/* --PinkForest */ --DarkRed);
            }
          }
          &:last-child {
            & > span {
              border-left-color: var(--Green_2);
            }
            a {
              border-bottom-color: var(--Green_2);
            }
          }
        }
      }
    }

    input.inp {
      background-color: var(--Gray);
      &:hover {
        background-color: var(--DullGray);
      }
    }

    // БАРТЕР
    .barter {
      &-form {
        width: 80%;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 0;
          }
          :not(:first-child) {
            margin-left: 10px;
          }
          input {
            flex: 1 2 0;
          }
        }
      }
    }

    /* ^^ stl > учеб.Комп.MUI */
    .switch,
    .select-block {
      .text-center {
        cursor: pointer;
      }
      /* откл.бл. */
      > div,
      br,
      hr,
      a {
        display: none;
      }
      /* stl cl.open */
      .open {
        display: flex;
      }
      /* вкл.бл. */
      &:has(div[class*="open"]) {
        & > .flex,
        & > div .flex {
          display: flex;
        }
        & > a,
        & br,
        & > br,
        & > hr {
          display: block;
        }
      }
    }
  }
}
