// стили проекта (несмотря на подкл.послед.иногда перебиваются + !important) ----------------------------------------------------------------------------------

// переменные
:root {
  $Blue_8: #252850;
  $Blue_9: #003366;
  // ширина боковой панели (side bar)
  $drawerWidth: 175px;
  // hover
  $colHoverEl: #f3a505;
  $bgHoverEl: rgba(0, 0, 0, 0.1);
  $transHoverEl: all 0.3s ease;

  body {
    font-size: inherit !important;

    hr.hr-big {
      --hue: 220;
      border-color: hsl(var(--hue), 50%, 40%) !important;
      border-width: 28px;
      @media (min-width: 600px) {
        border-width: 32px;
      }
    }

    pre {
      border: 2px solid #8b0000;
      width: auto;
      padding: 5px;
    }

    // наведение
    @mixin hover-el {
      &:hover,
      &:hover svg {
        color: $colHoverEl;
        background-color: $bgHoverEl;
        transition: $transHoverEl;
      }
    }
    .hover-el {
      @include hover-el();
    }

    // изо
    svg.svg {
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentColor;
      flex-shrink: 0;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 1.5rem;
    }

    // ввод
    input.inp {
      background-color: var(--Gray);
      &:hover {
        background-color: var(--DullGray);
      }
    }

    // кнп.закр.бок.панель
    button {
      padding: 8px;
      margin-left: -12px;
      border-radius: 50%;

      @include hover-el();

      @media (min-width: 600px) {
        // margin-right: 40px;
      }
    }

    /* шапка, горизотн.меню */
    header.header/* .menu-top */ {
      z-index: 1201;
      position: fixed;
      top: 0;
      right: 0;
      left: auto;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      color: #c2c2c2;
      background-color: #1976d2;
      background-color: #252850;
      transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
        margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      &.isOpen {
        margin-left: $drawerWidth;
        width: calc(100% - $drawerWidth);
      }

      // общ.div header
      .header-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 16px;
        min-height: 56px;
        @media (min-width: 600px) {
          min-height: 64px;
        }
        @media (min-width: 0px) {
          .css-hyum1k-MuiToolbar-root {
            min-height: 48px;
          }
        }
        @media (min-width: 600px) {
          padding-left: 24px;
          padding-right: 24px;
        }
      }

      /* название сайта */
      .name-site {
        width: 135px;
        padding: 0px 5px;
        text-align: center;
        font-weight: 500;
        white-space: nowrap;
        span:last-child {
          display: none;
          // display: block;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease;
          transition-delay: 1.5s;
        }
        span:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:hover,
        &:active {
          span:nth-child(1) {
            display: none;
            opacity: 0;
            visibility: hidden;
          }
          span:nth-child(2) {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      // навигация стр.
      nav.nav {
        font: inherit;
        // margin: auto;
        a.link {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 5px;
          padding: 5px 10px;
          border: 1px solid #222222;
          transition: 0.3s ease;
          transform-style: preserve-3d;
          &:not(:last-child) {
            margin-right: 5px;
          }
          &:hover {
            transition: 0.3s ease;
            transform: perspective(100px) rotateX(-5deg);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            span {
              color: #f3a505;
            }
          }
          &.active {
            transform: perspective(100px) rotateX(5deg);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
            span {
              color: #f3a505;
            }
          }
        }
      }
    }

    /* бок.панель */
    div.side-bar {
      width: calc(56px + 1px);
      flex: 0 0 auto;
      flex-shrink: 0;
      white-space: nowrap;
      box-sizing: border-box;
      transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      overflow-x: hidden;
      &.isOpen {
        width: 175px;
        transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      }
      @media (min-width: 600px) {
        width: calc(64px + 1px);
      }
      .side-bar-wrapper {
        height: 100%;
        /* flex: 1 0 auto; */
        z-index: 1200;
        position: fixed;
        top: 0;
        outline: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        // width: calc(56px + 1px);
        background-color: #003366;
        transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        overflow-x: hidden;

        @media (min-width: 600px) {
          width: calc(64px + 1px);
        }
        &.isOpen {
          width: 175px;
          -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
          transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
          overflow-x: hidden;
        }
      }

      .side-bar__close {
        // overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 8px;
        min-height: 56px;
        @media (min-width: 0px) {
          @media (orientation: landscape) {
            min-height: 48px;
          }
        }
        @media (min-width: 600px) {
          min-height: 64px;
        }
      }
      ul {
        position: relative;
        margin: 0;
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        list-style: none;
        li {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-decoration: none;
          box-sizing: border-box;
          text-align: left;
          display: block;
          // margin-right: 15px;
          &.active {
            transform: perspective(100px) rotateX(5deg);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
            div {
              color: #f3a505;
            }
          }
          &:focus,
          :active {
            outline: none;
          }

          & > div {
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            text-decoration: none;
            color: inherit;
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            text-decoration: none;
            min-width: 0;
            box-sizing: border-box;
            text-align: left;
            padding-top: 8px;
            padding-bottom: 8px;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            padding-left: 16px;
            padding-right: 16px;
            min-height: 48px;
            justify-content: initial;
            padding-left: 20px;

            div {
              min-width: 56px;
              color: rgba(0, 0, 0, 0.54);
              flex-shrink: 0;
              display: inline-flex;
              min-width: 0;
              margin-right: auto;
              justify-content: center;
              color: black;
            }
          }
        }
      }
    }

    /* main. вр.stl отступ от Navbar.AppBar */
    .main-my {
      --hue: 235;
      color: hsl(var(--hue), 50%, 20%);
      background-color: hsl(var(--hue), 50%, 90%);
    }

    /* подвал */
    footer {
      z-index: 1201;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #2c2c2c;
      padding: 10px;
      bottom: 0;
      background-color: #333;
      color: #fff;
      padding: 10px;

      div:nth-child(1) /* | :first-child | :first-of-type */ {
        width: max-content;
        margin: 0 auto;
      }
      ul.nav-bar__top {
        display: flex;
        justify-content: space-around;
        li {
          margin: 0px 10px;
        }
      }
      div.nav-bar__bootom {
        display: flex;
        justify-content: space-between;
      }
    }

    /* ^^ stl > вкл.совместной раб. NavBar,Main,Footer */
    .general-container {
      display: flex;
      flex-direction: column;
      /* е/и в header data-open=true то в main-my... ч/з header не раб */
      /* &:has(> header:has(button[data-open='true'])) > .main-my { */
      &:has(button[data-open="true"]) > .main-my {
        /* width: calc(100% - 175px); */
        margin-left: 175px;
        transition: 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      }
      /* заголовок */
      header {
        button {
          margin-right: 20px;
          @media (min-width: 600px) {
            margin-right: 40px;
          }
        }
      }
      /* осн.бл. */
      .main-my {
        /* height: 100vh; */
        margin-bottom: 116px;
        /* width: calc(100% - 56px); */
        margin-top: 56px;
        margin-left: 57px;
        padding: 16px;
        transition: 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        @media (min-width: 600px) {
          margin-top: 64px;
          margin-left: 65px;
          padding: 24px;
        }
        /* 1ый эл.по центру (учёт height.footer + margin-top.main + 2_padding.main) */
        & > div.main-screen:first-child,
        & > div.main-screen:nth-child(2),
        & > div:nth-child(3).main-screen {
          height: calc(100vh - (116px + 56px + 32px)) !important;
          @media (min-width: 600px) {
            height: calc(100vh - (116px + 64px + 48px)) !important;
          }
        }
        /* 2ой эл.вниз (учёт ниж.padding.main) */
        & > div:nth-child(2) {
          margin-top: 24px;
        }
      }
      footer {
        /* position: static; */
        position: fixed;
      }
    }

    /* заглушка загрузки */
    @keyframes loading {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(100%, 0);
      }
    }
    .loading {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
    .loading span {
      display: inline-block;
      padding-right: 100%;
      animation: loading 5s infinite linear;
    }

    // стр.не найдена (Not Found)
    .notf__control {
      // обёртка ссылки/стрелки
      div {
        position: relative;
        display: flex;
        align-items: flex-end;
        // блок первой ссылки
        &:first-child {
          margin-right: 10px;
          // стрелка
          & > span {
            left: -10px;
            border-right-color: var(--CrimsonBrown);
            transition: all 0.3s ease;
          }
          // ссылка
          a {
            margin-left: 10px;
            border-bottom: 3px solid var(--CrimsonBrown);
            transition: all 0.3s ease;
          }
        }
        // блок последней ссылки
        &:last-child {
          margin-left: 10px;
          & > span {
            right: -10px;
            border-left-color: var(--Green_1);
            transition: all 0.3s ease;
          }
          a {
            margin-right: 10px;
            border-bottom: 3px solid var(--Green_1);
            transition: all 0.3s ease;
          }
        }
        // общ.стрелка
        & > span {
          position: absolute;
          border: 10px solid transparent;
        }
        // общ.ссылка
        a {
          padding: 5px 10px 0;
        }
        // наведение
        &:hover {
          &:first-child {
            & > span {
              border-right-color: var(/* --PinkForest */ --DarkRed);
            }
            a {
              border-bottom-color: var(/* --PinkForest */ --DarkRed);
            }
          }
          &:last-child {
            & > span {
              border-left-color: var(--Green_2);
            }
            a {
              border-bottom-color: var(--Green_2);
            }
          }
        }
      }
    }

    // БАРТЕР
    .barter {
      &-form {
        width: 80%;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 0;
          }
          :not(:first-child) {
            margin-left: 10px;
          }
          input {
            flex: 1 2 0;
          }
        }
      }
    }

    /* ^^ stl > учеб.Комп.MUI */
    .switch,
    .select-block {
      .text-center {
        cursor: pointer;
      }
      /* откл.бл. */
      > div,
      br,
      hr,
      a {
        display: none;
      }
      /* stl cl.open */
      .open {
        display: flex;
      }
      /* вкл.бл. */
      &:has(div[class*="open"]) {
        & > .flex,
        & > div .flex {
          display: flex;
        }
        & > a,
        & br,
        & > br,
        & > hr {
          display: block;
        }
      }
    }
  }
}
